* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-section {
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: bisque;
}

.profile-content {
    display: block;
}

img {
    display: block;
    width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 auto;
}



h1 {
    font-size: 36px;
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin-top: 10px;
    color: #555;
}

.about-me-section {
    width: 80vw;
    height: 100vh;
    margin: 10px auto;
    padding: 40px;
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 24px;
}

.contact-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: orange;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}