body {
            background-color: green;
        }

        @media screen and (orientation: landscape) {
            body {
                border: 2px solid black;
            }
        }

        @media only screen and (max-width: 600px) {
            body {
                background-color: lightgreen;
            }

            .boxes {
                flex-direction: column;
            }
        }

        /* @media not|only mediatype and (expressions)
        CSS-code; */

        .boxes {
            display: flex;
        }

        .box {
            height: 345px;
            width: 345px;
            background-color: royalblue;
            padding: 3px;
            margin: 3px;
        }