* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
}

nav {
    background-color: lightpink;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    list-style: none;
    gap: 80px;
    font-size: 20px;
}

nav ul li {
    cursor: pointer;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #555;
}

.hero-content {
    text-align: center;
    align-content: center;
    margin-top: 10px;
    width: 60vw;
    height: 40vh;
    background-color: aqua;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: #333;
}

h3 {
    font-size: 30px;
    color: #555;
    margin-top: 20px;
}

.hero-button {
    width: 120px;
    height: 40px;
    color: white;
    background-color: orangered;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    /* padding: 8px; */
    margin-top: 30px;
    cursor: pointer;
}

.about-me {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

h2 {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #555;
    width: 60vw;
    margin: 0 auto;
}

.my-services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    padding: 30px;
}

.card-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    /* gap: 20px; */
    padding: 20px;
    background-color: aliceblue;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    padding: 10px;
    margin: 60px auto;
    border-radius: 30px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    overflow: hidden;
}

.card-image {
    width: 100%;
    margin: 0 auto 1em;
    border-radius: 30px;
    display: block;
}

.card-heading {
    font-size: 24px;
    margin-bottom: 0.5em;
}

.card-description {
    font-size: 16px;
    margin-bottom: 1.5em;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;
    margin-bottom: 1.5em;
}

.card-button {
    display: block;
    background-color: lightblue;
    color: blue;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightcoral;
}
