:root {
            --primary-color: blue;
            --secondary-color: green;
            --tertiary-color: red;
            --quaternary-color: yellow;
            --defpadding: 10px;
        }

        .nav ul {
            list-style: none;
            display: flex;
            padding: var(--defpadding);
            background-color: var(--primary-color);
        }

        ul li {
            padding: var(--defpadding);
        }

        ul li:first-child {
            background-color: var(--secondary-color);
        }

        ul li:nth-child(2) {
            background-color: var(--tertiary-color);
        }

        ul li:nth-child(3) {
            background-color: var(--quaternary-color);
        }

        ul li:nth-child(4) {
            background-color: var(--secondary-color)
        }