*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;

}

.card-container {
    width: 360px;
    overflow: hidden;
    background-color: tomato;
    border-radius: 12px;
    border: 1px solid black;
}

.card-image {
    width: 100%;
    height: auto;
    display: block;

}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

.card-description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.button-wrap {
    text-align: center;
}

.btn-readmore {
    width: 120px;
    height: 40px;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}