.container {
        width: 400px;
        margin: 40px auto;
        font-family: sans-serif;
    }

    .card {
        height: 80px;
        border: 2px solid #333;
        padding: 1em;
        width: 80px;
        border-radius: 8px;
        overflow: auto;
        white-space: nowrap;

    }
div p:first-child{
        background-color: yellow;
        color: red;
    }

    div p {
        background-color: blue;
        color: white;
    }