* {
            box-sizing: border-box;
        }

        .container {
            background-color: lightcoral;
            margin: 20px;
        }

        .box {
            width: 300px;
            height: 150px;
        }

        .box-a {
            padding: 15px;
            border: 3px solid #ff5733;
            margin: 25px;
        }

        .box-b {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border: 2px dashed #33a1ff;
            margin: -15px;
        }

        .box-c {
            padding: 25px;
            border: 4px dotted #33ff57;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
            border-radius: 8px;
        }