* {
            margin: 0;
            padding: 0;
        }

        .box {
            height: 433px;
            width: 80vw;
            border: 2px solid black;
            margin: 3px;
            padding: 3px;
        }

        .box1 {
            background-color: aqua;
            position: absolute;
            top: 0px;
            left: 0px;
            position: sticky;
            top: 0px;
            height: 133px;
            width: 100%;
            margin: 0;
            padding: 0;

        }

        .box2 {
            background-color: azure;
            /* position: relative;
            top: 34px;
            left: 54px;
                */
        }

        .box3 {
            background-color: antiquewhite;
            /* position: fixed; */
            bottom: 0px;
            left: 8vw;
        }

        .box4 {
            background-color: purple;
        }

        .parent {
            padding: 43px;
            margin: 34px;
            border: 3px solid purple;
            position: absolute;
        }