*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 60px;
        }

        .card {
            width: 400px;
            padding: 10px;
            border-radius: 20px;
            border-color: 2px solid black;

        }

        .card-image {
            width: 100%;
            display: block;
        }