/* element selecter */

        /* div {
            background-color: red;
        } */

        /* class selecter 👇 */


.red {
            background-color: red;
        }

        /* id selector 👇 */
        #green {
            background-color: green;
        }

        /* child selector 👇 */
        div>p {
            color: blue;
            background-color: brown;
        }

        /* descendent selector 👇 */
        div p {
            color: blue;
            background-color: brown;
        }

        /* universal selector 👇*/
        * {
            margin: 0;
            padding: 0;
        }

        /* pseudo selector 👇 */
        a:visited {
            color: red
        }

        a:link {
            color: green;
        }

        a:active {
            background-color: red;
        }

        a:hover {
            background-color: yellow;
        }

        p:first-child {
            background-color: aqua;
        }