 /* .box:first-child {
            background-color: lightgreen;
        }

        .box::first-line {
            color: red;
        } */

        .boxes *{
            color: blue;
            border: 2px solid black;
        }

        p,a, .box, [data-color="primary"] {
            margin-top: 45px;
            padding: 45px;
        }

        .box:nth-child(odd) {
            background-color: lightblue;
        }

        .box:nth-last-child(1) {
            background-color: lightgreen;
        }

        .boxes::before {
            content: "Fazal is Front-End Developer";
        }

        .boxes::after {
            content: "This is the end of the boxes";
        }

        ::selection {
            background-color: yellow;
            color: black;
        }

        .box::first-letter{
            color: sandybrown;
        }

        input::placeholder {
            color: royalblue;
        }