/* *{
    margin: 0;
    padding: 0;
} */

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img{
    width: 164px;
}

.right-side ul{
    display: flex;
    gap: 34px;
}

.right-side ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .right-side span{
    padding: 0 5px;
} */