.box {
    height: 55px;
    width: 55px;
    background-color: beige;
    border: 2px solid black;
    transform: rotate(435deg);
    transform-origin: 32%;
    /* transform: rotateZ(9deg); */
    /* transform: scale3d(1.9); */
    /* transform: skewY(5deg); */
    /* transform: translateY(100%) skew(40deg) translateX(45%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 80vh;
    border: 2px solid purple;
}