.box {
    height: 55px;
    width: 55px;
    background-color: beige;
    border: 2px solid black;
    transform: rotate(0.5turn);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 80vh;
    border: 2px solid purple;
}